.news {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40vh;
  overflow: scroll;
}

@media only screen and (max-width: 1200px) {
  .news {
    width: 100%;
    height: auto;
  }
}
