.news-item {
  margin-bottom: 1.4em;
}

.news-item .top-bar {
  display: flex;
}

.news-item .top-bar .headline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5em;
}

.news-item .top-bar .img-link {
  width: 25%;
  text-align: center;
}

.news-item .top-bar .img-link img {
  cursor: pointer;

  width: 100%;
  /* height: 5.626em; */
  object-fit: contain;
  /* border: 0.3px solid #707070; */
}

.news-item .top-bar a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.news-item .top-bar .row-two {
  display: flex;
}

.news-item .top-bar .row-two h2 {
  font-size: 0.8em;
  color: #707070;
}

.news-item .top-bar .row-two .source {
  margin-right: 0.6em;
}

.news-item .bottom-bar .summary {
  margin-top: 0.5em;
  height: 3.5em;
  color: #707070;
  overflow: hidden;
  font-size: 1em;
}

.news-item .bottom-bar .read-more {
  margin-top: 0.3em;
  font-size: 0.7em;
  text-decoration: none;
  color: #0d197b;
}

@media only screen and (max-width: 700px) {
  .news-item .top-bar {
    display: flex;
    flex-direction: column;
  }
  .news-item .top-bar .img-link {
    width: 100%;
    text-align: center;
  }
  .news-item .top-bar .headline-section {
    margin-left: 0em;
  }
}
